.global-header .web-studio a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26;
    line-height: 31;
    letter-spacing: 0.03em;
    color:#212121;
}

.global-header .web-studio span {
    color: #2196F3;
}


.global-header .main-navigation a,
.global-header .main-navigation a:visited {
    color:#212121;

}

.global-header .main-navigation a.active {
    font-weight: 500;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.02em;
    color:#2196F3;
}

.global-header .main-navigation .portofolio-navigation {
    font-weight: 500;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.02em;
}

.global-header .main-navigation .contacts-navigation {
    font-weight: 500;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.02em;
}

.global-header a.active {
    font-weight: 500;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.02em;
    color:#2196F3;
}

.global-header a.phone-number {
    font-weight: 500;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.02em;
    color: #757575;
} 


.main-page .effective-heading {
    font-weight: 900;
    font-size: 44;
    line-height: 60;
    text-align: center;
    letter-spacing: 0.0em;
    text-transform: uppercase;
    color: #000000
}

button {
    background: #2196F3;
    color:#FFFFFF;
}

.list-business .attention-details {
    font-weight: 700;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#212121
}

.attention-details p {
    font-weight: 400;
    font-size: 14;
    line-height: 24;
    letter-spacing: 0.03em;
    color: #757575;

}

.list-business .punctuality {
    font-weight: 700;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.punctuality p {
    font-weight: 400;
    font-size: 14;
    line-height: 24;
    letter-spacing: 0.03em;
    color: #757575;
}

.list-business .planning {
    font-weight: 700;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.03em;
    color:#212121
}

.planning p {
    font-weight: 400;
    font-size: 14;
    line-height: 24;
    letter-spacing: 0.03em;
    color: #757575;
}

.list-business .modern-techno {
    font-weight: 700;
    font-size: 14;
    line-height: 16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.modern-techno p {
    font-weight: 400;
    font-size: 14;
    line-height: 24;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-do h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team h2 {
   font-weight: 700;
   font-size: 36;
   line-height: 42;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121; 
}


.christopher-walker h4 {
    font-weight: 500;
    font-size: 16;
    line-height: 19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.christopher-walker p {
   font-weight: 400;
   font-size: 16;
   line-height: 19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575; 